
.haut{
    min-height: 100vh;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(155, 0, 139, 1) 80%);
}

.container{
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top: 40px;
    padding-bottom: 80px;
}

.title{
    color:white;
    font-size:48px;
    margin-bottom:50px;
    text-align:center;
}

.grid{
    width:80%;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap:40px;
}

.card{
    border: solid 1px rgba(255,255,255,0.5);
    border-radius:40px;
    padding:30px;
    transition: transform .35s ease, box-shadow .35s ease;

    box-shadow:
    0px 4px 14.3px rgba(0, 0, 0, 0.11),
    inset 0px -20px 112.2px -4px rgba(255, 67, 180, 0.25),
    inset 0px 5px 18px rgba(255, 139, 253, 0.25);

    backdrop-filter: blur(8px);
}


.card:hover{
    transform: translateY(-10px) scale(1.02);
    box-shadow:
    0 0 25px rgba(255, 71, 206, 0.45),
    inset 0px -20px 112.2px -4px rgba(255, 67, 180, 0.35),
    inset 0px 5px 18px rgba(255, 139, 253, 0.35);
}

.cardContent{
    display:flex;
    flex-direction:column;
    gap:20px;
    align-items: center;
}


.projectTitle{
    color:white;
    font-size:26px;
    font-weight:bold;
}


.techno{
    color:rgba(255,255,255,0.75);
    font-size:16px;
}


.ens{
    margin-top:10px;
    width:fit-content;
    padding:12px 22px;
    border-radius:25px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    border:1px solid rgba(255,255,255,0.6);

    transition: all .3s ease;

    box-shadow:
    0px 4px 14px rgba(0,0,0,0.11),
    inset 0px -10px 60px rgba(255,67,180,0.25),
    inset 0px 3px 12px rgba(255,139,253,0.25);
}

.ens:hover{
    color: rgb(255, 83, 198);
    transform: scale(1.08);
    box-shadow:
    0 0 18px rgba(255, 71, 206, 0.7),
    inset 0px -10px 60px rgba(255,67,180,0.35),
    inset 0px 3px 12px rgba(255,139,253,0.35);
}


@media (max-width: 1024px){

  .title{
    font-size: 40px;
  }

  .grid{
    width: 90%;
    gap: 30px;
  }

}

@media (max-width: 768px){

  .title{
    font-size: 32px;
    margin-bottom: 35px;
  }

  .grid{
    width: 95%;
    grid-template-columns: 1fr; 
  }

  .card{
    padding: 25px;
    border-radius: 30px;
  }

  .projectTitle{
    font-size: 22px;
    text-align: center;
  }

}



@media (max-width: 480px){

  .title{
    font-size: 26px;
  }

  .card{
    padding: 20px;
    border-radius: 25px;
  }

  .projectTitle{
    font-size: 20px;
  }

  .techno{
    font-size: 14px;
    text-align: center;
  }

  .ens{
    width: 100%;
    text-align: center;
    padding: 12px 0;
  }

}