@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-size: 160px;
}

nav{
  margin-top: 2%;
  display: flex;
  gap: 20px;
}
nav a{
    box-shadow:
    0px 4px 14.3px 0px rgba(255, 123, 242, 0.15),
    inset 0px -20px 112.2px -4px rgba(255, 67, 180, 0.25),
    inset 0px 5px 18px 0px rgba(255, 139, 253, 0.25);
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 5em;
  
  
}
nav a.active{
  border-bottom: 1px solid #ff0000;
  
}







.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}
.align {
  align-items: center;
}
