@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-size: 167px;
  margin-bottom: -72px;
}
h1{

  font-size: 80px;
  text-underline-offset: 20px;
text-decoration: underline;
}
nav{
  margin-top: 2%;
  display: flex;
  gap: 20px;
  border: 1px solid #f0eded;
  border-radius: 75px;
  padding: 2%;
}
nav a{
    box-shadow:
    0px 4px 14.3px 0px rgba(255, 123, 242, 0.15),
    inset 0px -20px 112.2px -4px rgba(255, 67, 180, 0.25),
    inset 0px 5px 18px 0px rgba(255, 139, 253, 0.25);
  border-radius: 360px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 5em;
   transition: all .3s ease;
  
}
nav a:hover{
    color: rgb(255, 83, 198);
    transform: scale(1.08);
    box-shadow:
    0 0 18px rgba(255, 71, 206, 0.7),
    inset 0px -10px 60px rgba(255,67,180,0.35),
    inset 0px 3px 12px rgba(255,139,253,0.35);

}
nav a.active{
  border-bottom: 1px solid #ff0000;
  
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}
.align {
  align-items: center;
}


@media (max-width: 1200px) {

  h2{
    font-size: 110px;
    margin-bottom: -40px;
  }

  h1{
    font-size: 60px;
  }

  nav a{
    padding: 1em 3em;
  }
}

@media (max-width: 768px) {

  h2{
    font-size: 70px;
    margin-bottom: -20px;
    text-align: center;
  }

  h1{
    font-size: 42px;
    text-align: center;
  }

  nav{
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
    border-radius: 40px;
  }

  nav a{
    width: 100%;
    padding: 1em 3em;
  }
}

@media (max-width: 480px) {

  h2{
    font-size: 48px;
    margin-bottom: -10px;
  }

  h1{
    font-size: 30px;
    text-underline-offset: 10px;
  }

  nav{
    border-radius: 25px;
    padding: 50x;
  }

  nav a{
    font-size: 14px;
   padding: 1em 3em;
  }

}