
.body{
    min-height:100vh;
    background: linear-gradient(to bottom, rgba(155, 0, 139, 1), rgba(0, 0, 0, 1) 20%);
}

.main{
    padding-top: 90px;
}


.footer{
    padding:30px 40px;
    background: linear-gradient(180deg, #44013f, #000);
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid rgba(255,255,255,0.08);
}

.copy{
    color:rgba(255,255,255,0.6);
    font-size:14px;
}

.socials{
    display:flex;
    gap:20px;
}

.icon{
    font-size:24px;
    color:white;
    transition: all .3s ease;
}

.icon:hover{
    color:#ff00cc;
    transform: translateY(-4px);
    text-shadow: 0 0 15px rgba(255,0,200,0.8);
}

/* Responsive */
@media(max-width:768px){
    .footer{
        flex-direction:column;
        gap:15px;
        text-align:center;
    }
}