

.haut{
    background: linear-gradient(to bottom,rgba(0, 0, 0, 1),rgba(155, 0, 139, 1)80%);
}


.bulle{
    margin-top: 3%;
    margin-bottom: 5%;
    display: flex ;
    width: 80%;
    height: auto    ;
    border: solid 1px rgba(255, 255, 255, 0.5);
    border-radius: 74px;
    box-shadow:
    0px 4px 14.3px 0px rgba(0, 0, 0, 0.11),
    inset 0px -20px 112.2px -4px rgba(255, 67, 180, 0.25),
    inset 0px 5px 18px 0px rgba(255, 139, 253, 0.25);
    padding: 3%;
       
}
.img {
  width: 200px;
  height: 200px;
  border-radius: 50%;       
  overflow: hidden;         
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  object-position: 10% 20%;     
  transform: scaleX(-1);   
}
.texte{
    
    font-size: 18px;
    
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 2%;
    margin-bottom: 2%;
}
