.competence{
    position: relative;
    z-index: 0;
}

.competence::before{
    content: "";
      top: 0;
    left: 0;
     background: url("/image/background.png");
     background-size: cover;
     background-repeat: no-repeat;
     position: absolute;  
        display: block;       
    width: 100%;          
    height: 100%;
    z-index: -1;

}
.competence_titre{
    justify-content: center;
    display: flex;
    font-size: 100px;
}

.language{
  padding-top: 2%;
    display: flex;
    justify-content: space-around;

    transform: translateX(-100%);
    animation: reveal 2s linear forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}


.language2{
  margin-top: 5%;
  padding-bottom: 5%;
    display: flex;
    justify-content: space-around;

    transform: translateX(100%);
    animation: reveal 2s linear forwards;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}


@keyframes reveal {
  to {
    transform: translateX(0%);
  }
  
}

.int{
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.btn{
    margin-top:10px;
    width:fit-content;
    padding:1em 5em;
    border-radius:25px;
    text-decoration:none;
    color:white;
    font-weight:bold;
    border:1px solid rgba(255,255,255,0.6);

    transition: all .3s ease;

    box-shadow:
    0px 4px 14px rgba(0,0,0,0.11),
    inset 0px -10px 60px rgba(255,67,180,0.25),
    inset 0px 3px 12px rgba(255,139,253,0.25);
}

.ens:hover{
    color: rgb(255, 83, 198);
    transform: scale(1.08);
    box-shadow:
    0 0 18px rgba(255, 71, 206, 0.7),
    inset 0px -10px 60px rgba(255,67,180,0.35),
    inset 0px 3px 12px rgba(255,139,253,0.35);
}
.naviguer{

display: flex;
justify-content: center;

gap: 10%;
padding-bottom: 5%;
padding-top: 5%;
}
.btn:hover{
transform: scale(1.1);
}

@media (max-width: 1024px){

  .competence_titre{
    font-size: 70px;
    text-align: center;
  }

  .language,
  .language2{
    gap: 40px;
  }

  .int{
    font-size: 40px;
  }

}


@media (max-width: 768px){

  .competence_titre{
    font-size: 50px;
  }

  .language,
  .language2{
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    transform: none; 
    animation: none;
  }

  .int{
    font-size: 32px;
    text-align: center;
  }

  .naviguer{
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .btn{
    padding: 0.9em 3em;
    font-size: 18px;
  }

}

@media (max-width: 480px){

  .competence_titre{
    font-size: 36px;
  }

  .language,
  .language2{
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .int{
    font-size: 24px;
  }

  .btn{
    width: 80%;
    padding: 0.8em 0;
    font-size: 16px;
  }

}